{{yield}}

<div class="col-xs-6 col-xs-offset-3">
  <label for="" style="padding-right:6px;">{{question.author}}</label> <a href="#">{{#link-to 'question' question.id}}<label for="">{{question.content}}</label>{{/link-to}}</a>
  <div class="well">
    {{question.notes}}
  </div>
</div>
